<!-- Footer -->
<footer class="text-center py-4 mt-5">
    <div class="container">
        <p class="text-muted mb-2">
            <a href="index.html" class="">UniTools</a>
            <span class="mx-2">•</span>
            <a href="patchNotes.html" class="">Change Log</a>
            <span class="mx-2">•</span>
            <a href="privacy.html" class="">Privacy Policy</a>
        </p>
        <p class="text-light small mb-0">
            Developed by Blü Morse
        </p>
    </div>
</footer>
